<!DOCTYPE html>
<html>
  <head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
    <body>
      <div class="login">
        <h1 id="title">Log in</h1>
        <form action="/login" method="post">
          <ul>
            <li>
              <input type="text" name="username" class="field" placeholder="Username..." required>
            </li>
            <li>
              <input type="password" name="password" class="field" placeholder="Password..." required>
            </li>
          </ul>
          
          <button type="submit" id="submit">
            <i class="submit-button"></i>
            <span class="tooltip">Submit</span>
          </button>
        </form>
      </div>
    </body>
</html>
